.drawerwrapper.closed
  .border
    .icon.icon-double-angle-right
  .drawer
    .icon.icon-double-angle-left
    #right
      for article in articles
        .item
          p.title= article.parts.title
          p.date Item add date
          p.description= article.parts.text.substring(0, 256) 