.drawerwrapper.closed
  .border
    .icon.icon-double-angle-right
  .drawer
    .icon.icon-double-angle-left
    #right
      if(articles)
        for article, i in articles
          .item(index=i)
            p.title= article.parts.title
            p.date= new Date(article.date).toString('yyyy-MM-dd')
            if(article.parts.text) 
              p.description= article.parts.text.substring(0, 128) 
