html
  head
    link(rel='stylesheet', href='http://localhost:3001/style/base').
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js').
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js').
    script(src='http://localhost:3001/asset/fontselector.js').
    script(src='http://localhost:3001/bundle/reader.js').
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Titillium+Web|Lato:300,400|Roboto|Roboto+Condensed:300,400').
    link(rel='stylesheet', href='http://localhost:3001/asset/fontawesome/css/font-awesome.css').
    link(rel='stylesheet', href='http://localhost:3001/asset/fontselector.css').