include head
  script.
    articles = !{JSON.stringify(articles)}

  body
    .wrap
      .readerwrap
        include header
        include drawer
        .content
          if(articles[0])
            h1.title= articles[0].parts.title
            p.author Author
            .articleBody !{articles[0].parts.text}
            pre.articleJson !{JSON.stringify(articles[0], null, 2)}
          else
            h1 No Articles Found
        include foot
