extends main.jade

block content
  h1 Login
  .options
    .email
      form#loginForm()
        input(type='textfield', name='username', placeholder='Email')
        input(type='textfield', name='pass',  placeholder='Password')
        input(type="submit", value="Submit")
    .pocket
      a(handler="pocketOauth", href="#") Login with Pocket

    a.run(href='#') run
    a.change(href='#') change

block head
  script(src="/bundle/auth.js")