extends main.jade

block content
  a.next(href='#') Next
  h1 Account
  each friend in friends
    .friend(tid=friend.id)
      img(src=friend.profile_image_url)
      h2= friend.name
      p= friend.followers_count
  //pre= JSON.stringify(friends, null, 2)


block head
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js').
  script(src='/bundle/setup.js').
 