include head
  body
    .bigwrap
      h1.splashtitle q.me
        .icon.icon-book
      h2.splashtitle (A queue for your cool stuff) 
      .wrapper  
        .container
          h3.splashtitle
            .icon.icon-twitter-sign<br/>
            .holder
              | Get all the content from Twitter without the #crap
            .twitsmall
              .icon.icon-twitter
              | Sign in with Twitter
        .container
          h3.splashtitle
            .icon.icon-list-ol<br/>
            .holder
              | Keep an organized reading list and control every aspect of it
            .twitsmall
              .icon.icon-twitter
              | Sign in with Twitter
        .container  
          h3.splashtitle
            .icon.icon-share-alt<br/>
            .holder
              | Share things easily with your friends and followers  
            .twitsmall
              .icon.icon-twitter
              | Sign in with Twitter
      .blue        
        .icon.icon-hand-down
        a(href="/reader")
          .twitterbutton
            .icon.icon-twitter
            | Sign In With Twitter
